<link href="https://havanaclub.gitlab.io/" rel="stylesheet"> 

<style>
@font-face {
  font-family: 'Digital Dismay';
  font-style: normal;
  font-weight: 400;
  src: url(https://havanaclub.gitlab.io/digital_dismay.otf) format('opentype');
}
</style>

<div style="font-family: 'Digital Dismay'; font-size: 96pt">
    1234567890
</div>