@font-face {
  font-family: 'Digital Dismay';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/digital_dismay.otf) format('opentype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/OpenSans-Regular.ttf) format('truetype');
  }

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url(fonts/OpenSans-Semibold.ttf) format('opentype');
}
  
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url(fonts/OpenSans-Bold.ttf) format('opentype');
}

body
{
    font-family: 'Open Sans';
    font-size: 48pt;
}

div#slides > div
{
    display: none;
}

div#slides > div:first-child
{
    display: block;
}

div.invisible
{
    visibility: hidden;
}

div.centre
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.minuterie
{
    font-family: 'Digital Dismay';
    font-size: 160pt;
}