<meta charset="UTF-8">

<link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet"> 

<style>
    body { font-family: Calibri }
    body > div { display: none }

    #div0
    {
        display: block;
        font-family : 'Fredoka One';
        font-size : 96pt;
    }

    #div1
    {
        font-family : 'Fredoka One';
        font-size : 112pt;
    }

    #div2, #div4
    {
        font-size : 48pt;
    }

    #div3, #div5, #div6
    {
        font-family : 'Fredoka One';
        font-size : 144pt;
    }

    .centre {
      position: absolute;
      top: 50%;
      left: 50%;
        transform: translate(-50%, -50%);
    }
</style>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<div id='div0' class='centre' style='width: 80%'>
    Rétrospective de sprint D-1822
</div>

<div id='div1' class='centre'>
    Vérités&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;mensonge
</div>

<div id='div2' class='centre'>
Pensez à deux vérités et un mensonge sur le déroulement du dernier sprint
<br>
<br>Sur trois post-its, écrivez deux vérités et un mensonge
</div>

<div id='div3' class='centre' data-init='init3()'>
    08:00
</div>

<div id='div4' class='centre'>
    Présentez vos deux vérités et votre mensonge et l'équipe doit trouver le mensonge !
</div>

<div id='div5' class='centre' data-init='init5()'>
    03:00
</div>

<div id='div6' class='centre' data-init='init6()'>
    20:00
</div>

<script>

$(document).keydown( function(e) {

    if (e.which == 33)
    {
        var $div = $('div:visible').hide();
        var $precedent = $div.prev();

        $precedent.show();
        var ev = $precedent.data('init');
        eval(ev);
    }

    if (e.which == 34)
    {
        var $div = $('div:visible').hide();
        var $suivant = $div.next();

        $suivant.show();
        var ev = $suivant.data('init');
        eval(ev);
    }

});

var fin;

function init3()
{
    fin = new Date().getTime() + 8 * 60 * 1000;

    setTimeout(minuterie3, 1000);
}

function minuterie3()
{
    var now = new Date().getTime();
    var delai = fin - now;

    if (delai < 0)
    {
        $('#div3').text('00:00');
        return;
    }

    var d = new Date(delai);
    
    var _min = ('' + d.getMinutes()).padStart(2, '0');
    var sec = ('' + d.getSeconds()).padStart(2, '0');

    $('#div3').text(_min + ':' + sec);
    setTimeout(minuterie3, 1000);
}

function init5()
{
    fin = new Date().getTime() + 3 * 60 * 1000;

    setTimeout(minuterie5, 1000);
}

function minuterie5()
{
    var now = new Date().getTime();
    var delai = fin - now;

    if (delai < 0)
    {
        $('#div5').text('00:00');
        return;
    }

    var d = new Date(delai);
    
    var _min = ('' + d.getMinutes()).padStart(2, '0');
    var sec = ('' + d.getSeconds()).padStart(2, '0');

    $('#div5').text(_min + ':' + sec);
    setTimeout(minuterie5, 1000);
}

function init6()
{
    fin = new Date().getTime() + 20 * 60 * 1000;

    setTimeout(minuterie6, 1000);
}

function minuterie6()
{
    var now = new Date().getTime();
    var delai = fin - now;

    if (delai < 0)
    {
        $('#div6').text('00:00');
        return;
    }

    var d = new Date(delai);
    
    var _min = ('' + d.getMinutes()).padStart(2, '0');
    var sec = ('' + d.getSeconds()).padStart(2, '0');

    $('#div6').text(_min + ':' + sec);
    setTimeout(minuterie6, 1000);
}

</script>
