<meta charset="UTF-8">

<link href="retrospective.css" rel="stylesheet"> 

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<div id='slides'>
    <div id='div0' class='centre' style='width: 80%; font-weight: 800; font-size: 80pt;'>
        Rétrospective de sprint D&#x2011;1823
    </div>

    <div id='div1' class='centre'>
        <img src='ff-logo.svg' width='1000px'>
    </div>

    <div id='div2' class='centre' style='font-weight: 600'>
        <div style='height: 440px; width: 223px; margin-right: 200px; display: inline-block'>
            <div>Fast</div>
            <div class='invisible'>Furious</div>
            <div class='invisible'>Fun</div>
            <div class='invisible'>First</div>
            <div class='invisible'>Fed up</div>
        </div>

        <div class='minuterie invisible' style='width: 200px; font-weight: 400; display: inline-block'>08:00</div>
    </div>

    <div id='div2' class='centre' style='font-weight: 600''>
        <div style='height: 440px; width: 223px; margin-right: 200px; display: inline-block'>
            <div>Fast</div>
            <div>Furious</div>
            <div class='invisible'>Fun</div>
            <div class='invisible'>First</div>
            <div class='invisible'>Fed up</div>
        </div>

        <div class='minuterie invisible' style='width: 200px; font-weight: 400; display: inline-block'>08:00</div>
    </div>
    
    <div id='div2' class='centre' style='font-weight: 600'>
        <div style='height: 440px; width: 223px; margin-right: 200px; display: inline-block'>
            <div>Fast</div>
            <div>Furious</div>
            <div>Fun</div>
            <div class='invisible'>First</div>
            <div class='invisible'>Fed up</div>
       </div>

       <div class='minuterie invisible' style='width: 200px; font-weight: 400; display: inline-block'>08:00</div>
    </div>

    <div id='div2' class='centre' style='font-weight: 600'>
        <div style='height: 440px; width: 223px; margin-right: 200px; display: inline-block'>
            <div>Fast</div>
            <div>Furious</div>
            <div>Fun</div>
            <div>First</div>
            <div class='invisible'>Fed up</div>
        </div>

        <div class='minuterie invisible' style='width: 200px; font-weight: 400; display: inline-block'>08:00</div>
    </div>

    <div id='div2' class='centre' style='font-weight: 600'>
        <div style='height: 440px; width: 223px; margin-right: 200px; display: inline-block'>
            <div>Fast</div>
            <div>Furious</div>
            <div>Fun</div>
            <div>First</div>
            <div>Fed up</div>
        </div>

        <div class='minuterie invisible' style='width: 200px; font-weight: 400; display: inline-block'>08:00</div>
    </div>

    <div id='div2' class='centre' style='font-weight: 600' data-minuterie='8'>
        <div style='height: 440px; width: 223px; margin-right: 200px; display: inline-block'>
            <div>Fast</div>
            <div>Furious</div>
            <div>Fun</div>
            <div>First</div>
            <div>Fed up</div>
        </div>

        <div class='minuterie' style='width: 200px; font-weight: 400; display: inline-block'>08:00</div>
    </div>

    <div class='centre' data-minuterie='20'>
        <div style='font-size: 60pt; font-weight: 600'>Discussion</div>

        <div class='minuterie' style='width: 200px; font-weight: 400; display: inline-block'>20:00</div>
    </div>
</div>

<script>

$(document).keydown( function(e) {

    console.log(e.which);

    if (e.which == 33)  // up
    {
        var $div = $('div#slides > div:visible').hide('fade');
        var $precedent = $div.prev();

        $precedent.show('fade');
        arreterMinuterie();
    }

    if (e.which == 34)  // down
    {
        var $div = $('div#slides > div:visible').hide('fade');
        var $suivant = $div.next();
        if ($suivant.length == 0) $suivant = $('div#slides > div').first();

        $suivant.show('fade');
        arreterMinuterie();
        lancerMinuterie($suivant);
    }
});

var $divMinuterie;
var fin;

function lancerMinuterie($div)
{
    if ($div.data('minuterie') != undefined)
    {
        var temps = $div.data('minuterie');
        $divMinuterie = $div.find('.minuterie');

        fin = new Date().getTime() + temps * 60 * 1000;
        setTimeout(minuterie, 1000);
    }
}

function minuterie()
{
    var now = new Date().getTime();
    var delai = fin - now;

    if (delai < 0)
    {
        $divMinuterie.text('00:00');
        return;
    }

    var d = new Date(delai);
    
    var _min = ('' + d.getMinutes()).padStart(2, '0');
    var _sec = ('' + d.getSeconds()).padStart(2, '0');

    $divMinuterie.text(_min + ':' + _sec);
    setTimeout(minuterie, 1000);
}

function arreterMinuterie()
{
    clearTimeout(minuterie);
}

</script>
